.Circle {
  position: absolute;
    width: 40vw;
    height: 40vw;
    background: hsla(0, 0%, 100%, 0.712);
    border-radius: 50%;
    margin-left: 30%;
    margin-top: -26vw;
    z-index: 1;
}

.logoJr{
    height: 50%;
    margin-left: 15%;
    margin-top: 5%;
    
}