
.RectangleHome {
    position: relative;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 100%, 0.801);   
}
.TITLE{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 500%;
}
.LinkMenu {
    position: absolute;
    text-align: center;
    text-decoration: none;
}